form {
    width: 500px;
    margin: auto;
}

input,
textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .8);
}

input:hover,
textarea:hover {
    background-color: rgba(209, 205, 205, .8);
}

legend {
    color: gray;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
}

fieldset {
    border-color: lightgray;
    margin: 20px;
}

fieldset#sexo {
    width: 150px;
}

fieldset#usuario {
    background: url(../imagem/usuario.png) no-repeat 98% 5%;
}

fieldset#endereco {
    background: url(../imagem/endereco.png) no-repeat 98% 10%;
}

fieldset#mensagem {
    background: url(../imagem/form-contato.png) no-repeat 100% 5%;
}

fieldset#pedido {
    background: url(../imagem/apoio.png) no-repeat 98% 5%;
}

input[type="submit"] {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
}
.envia {
    display: block;
    margin: 40px auto;
}