@font-face {
    font-family: 'FonteLogo';
    src: url("../fontes/bubblegum-sans-regular.otf");
}
@font-face {
    font-family: 'Fonte h2';
    src: url(../fontes/TitilliumWeb-Regular.ttf);
}
*
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(122, 118, 126, 0.267);
}

div#interface {
width: 900px;
background-color: white;
margin: -12px auto 10px auto;
box-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
padding: 10px;
}

main {
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0.472);
}

img.lado {
    float: left;
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}

p {
    text-align: justify;
    text-indent: 50px;
}
header#cabecalho img#icone {
position: absolute;
left: 1030px;
top: 60px;

}
header#cabecalho {
    border-bottom: 1px rgb(40, 37, 37) solid;
    height: 150px;
    background: url(../imagem/new_world.png) no-repeat 0px 80px;
}
header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2 {
    font-family: 'Fonte h2', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}


/* Formatação de imagens e legendas */
figure.foto-legenda {
    border: 8px solid gray;
    box-shadow: 1px 1px 4px black;
    position: relative;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}
/*Formatação Menu*/
nav#Menu {
    display: block;
}

nav#Menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#Menu li {
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#Menu li:hover {
    background-color: gray;
}

nav#Menu h1 {
    display: none;
}

nav#Menu a {
    color: black;
    text-decoration: none;

}

nav#Menu a:hover {
    color: white;
}

section#corpo {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p {
    text-align: center;
}